# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Database files
# =========================
*.db
*.sqlite3
